<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/customer-dashboard-style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}!</h1>
    </header>

    <nav>
        <ul>
            <div id="title" align="center"></div>
            <li><a href="{{ url_for('customer_dashboard', username=username) }}">Home</a></li>
            <li><a href="{{ url_for('customer_view_flights', username=username) }}">View Flights</a></li>
            <li><a href="{{ url_for('track_spending', username=username)}}">Track My Spending</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <main>
        <!-- Placeholder for dashboard content -->
        <h2>Dashboard Content Goes Here</h2>
    </main>

    <footer>
        <p>&copy; 2022 Customer Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>
