<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer-login-style.css') }}">
</head>
<body>
    <div id="title" align="center">
        LOGIN
    </div>
    <div id="content" align="center">
    <form method="POST" style="text-align: center;">
        <input type="text" name="username" placeholder="Username">
        {% for error in form.username.errors %}
            <span style="color: red; font-family: Arial, Helvetica, sans-serif;">{{ error }}</span>
        {% endfor %}
       
        <input type="password" name="password" placeholder="Password">
        {% for error in form.password.errors %}
            <span style="color: red; font-family: Arial, Helvetica, sans-serif;">{{ error }}</span>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    </div>
</body>
</html>