<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main-login-style.css')  }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset = "UTF-8">
</head>
<body>
    <div id="navbar" align="left">
        <div id = "navelements">
         <a href="#">Home</a>
         <a href="#">About</a>
         <a href="#">Contact</a>
        </div>
    </div>
    <div id="title" align="center">
       Booktrip Century Global 
    </div>
    <div id="content" align="center">
    <form method="POST" style="text-align: center;">
        
        <input type="text" name="username" placeholder="Username (optional)">
        {% for error in form.username.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}

        <input type="text" name="email" placeholder="Email">
        {% for error in form.email.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <input type="text" name="agentID" placeholder="Agent ID">
        {% for error in form.agentID.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        
        <input type="password" name="password" placeholder="Password">
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        <div id="input-container" align:"center">
        <a href="{{ url_for('register') }}"><input type="button" value="Sign Up"></a>

        <input type="submit" value="Login">
        </div>
        
    </form>
    </div>
</body>
</html>